<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if current_user %>
    <p> Bem Vindo <%= current_user.email %>!</p>
    <p> texto grande </p>
<% else %>
    <p> voce n esta logado, faça o favor de logar vagabundo</p>
    <%= link_to "Logar", new_user_session_path%>
    <%= link_to "Crie sua conta", new_user_registration_path%>
<% end %>